.navbar {
    width: 100%;
    background-color: rgb(36, 36, 36);
    position: fixed;
    overflow: auto;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
    padding: 15px;
}

.copyright-contact {
    float: left;
}

.powered-by {
    float: right;
}

html, .main {
    background-color: rgb(36, 36, 36);
    color: white;
    text-align: center;
}

.portfolio-image {
    width: 250px;
    height: 400px;
}

.col-info {
    padding-top: 20px;
    margin-left: 100px;
    float: left;
}

.col-image {
    padding-top: 100px;
    margin-right: 200px;
    float: right;
}